.mission {
  background: #b5b4eb;
}

.mission-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 2.5rem;
  align-items: center;
}

.mission-image {
  width: 80%;          /* reduce width */
  max-width: 520px;    /* hard limit on desktop */
  height: auto;        /* keep aspect ratio */
  border-radius: 8px;
  object-fit: cover;
  margin: auto;   /* align nicely */
}


/* Mobile */
@media (max-width: 768px) {
  .mission-grid {
    grid-template-columns: 1fr;
  }
}
